/* Custom colors for tags beyond 11 */
.o_tag_color_12 {
    background-color: #ffcc00 !important; /* Yellow */
    color: #000 !important;
}
.o_tag_color_13 {
    background-color: #009688 !important; /* Teal */
    color: #fff !important;
}
.o_tag_color_14 {
    background-color: #673ab7 !important; /* Deep Purple */
    color: #fff !important;
}
.o_tag_color_15 {
    background-color: #795548 !important; /* Brown */
    color: #fff !important;
}
.o_tag_color_16 {
    background-color: #e91e63 !important; /* Pink */
    color: #fff !important;
}
.o_tag_color_17 {
    background-color: #3f51b5 !important; /* Indigo */
    color: #fff !important;
}
.o_tag_color_18 {
    background-color: #4caf50 !important; /* Green */
    color: #fff !important;
}
